/* Footer.css */
footer {
  background-color: #343a40; 
  color: white; 
  padding: 5px 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  position: fixed; 
  bottom: 0; 
  left: 0;
  right: 0; 
  box-sizing: border-box; 
}

footer p {
  margin: 0; 
}

footer a {
  color: white; 
  text-decoration: none;
}
