/* Leaderboard.css */
body {
    background-color: #6c757d; 
}
.table-bordered {
    border: 1px solid #343a40;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #343a40;
  }
  
  .rounded-table {
    border-radius: 8px; 
    overflow: hidden;
  }
  